@font-face {
    font-family: "Roboto";
    font-weight: 100;
    font-weight: lighter;
    src: url("./medias/fonts/Roboto-Thin.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("./medias/fonts/Roboto-Light.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-weight: normal;
    src: url("./medias/fonts/Roboto-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url("./medias/fonts/Roboto-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-weight: bold;
    src: url("./medias/fonts/Roboto-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-weight: bolder;
    src: url("./medias/fonts/Roboto-Black.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto";
    font-style: italic;
    src: url("./medias/fonts/Roboto-Italic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto";
    font-weight: 100;
    font-weight: lighter;
    font-style: italic;
    src: url("./medias/fonts/Roboto-ThinItalic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
    src: url("./medias/fonts/Roboto-LightItalic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-weight: normal;
    font-style: italic;
    src: url("./medias/fonts/Roboto-Italic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: italic;
    src: url("./medias/fonts/Roboto-MediumItalic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-weight: bold;
    font-style: italic;
    src: url("./medias/fonts/Roboto-BoldItalic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-weight: bolder;
    font-style: italic;
    src: url("./medias/fonts/Roboto-BlackItalic.ttf") format("truetype");
  }