:root {
  font-family: Roboto;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  margin: none;
  background-color: rgb(179, 179, 179);
}

body > header {
  background-color: #37b08d;
}

#menu {
  display: none;
}

#top_head {
  padding: 1vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header #logo {
  height: 75px;
}

header #panier {
  height: 40px;
}

header input {
  height: 2.9vh;
  font-style: italic;
  width: 30vw;
  padding: 0vh 0.3vw;
}

nav {
  background-color: #2e7d67;
}

nav > ul {
  display: flex;
  padding: none;
  list-style: none;
  width: 80%;
  margin: auto;
}

nav > ul > li {
  display: flex;
  justify-content: center;
  width: 25%;
}

.bordnav {
  border-left: 0.01vw solid white;
  border-right: 0.01vw solid white;
}

.bordnav1 {
  border-right: 0.01vw solid white;
}

nav > ul > li > a {
  display: flex;
  padding: 0.3vw 0.3vh;
  text-decoration: none;
  color: white;
}

nav > ul > li:hover {
  background-color: rgb(74, 172, 142);
}

main > header {
  display: flex;
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

main > header img {
  width: 100%;
  position: relative;
  z-index: 1;
}

main > header h1 {
  position: absolute;
  z-index: 100;
  color: white;
  top: 10vh;
  left: 10vw;
}

#secmain {
  display: flex;
  width: 80%;
  position: relative;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

#cables {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  background-color: white;
  gap: 2vh 1vw;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
}

#cables > article {
  display: flex;
  flex-wrap: wrap;
  width: 23%;
  flex-direction: row;
  border: 0.1rem solid grey;
  align-items: center;
  justify-content: space-between;
}

#cables > article div {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 0.5vw;
}

#cables > article div > p {
  font-size: medium;
  font-weight: bold;
  color: #000;
  text-align: center;
}

blockquote {
  font-style: italic;
  font-size: small;
  text-align: center;
}

h5 {
  text-align: center;
  font-size: medium;
}

#formulaire {
  display: flex;
  width: 20%;
  flex-direction: column;
  gap: 5vh;
  background-color: #c4ffed;
}

#formulaire form fieldset {
  display: flex;
  flex-wrap: wrap;
  padding-left: 2vw;
  padding-bottom: 2vh;
  width: 70%;
  justify-content: space-between;
}

#formulaire h3 {
  padding-top: 2vh;
  padding-left: 1vw;
}

legend {
  font-size: large;
  padding-bottom: 1vh;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.mesure {
  height: 2vh;
  width: 3vw;
  border: 0.1vh solid black;
}

#cat input {
  width: 20%;
}

#cat label {
  width: 70%;
}

#cables img {
  width: 100%;
}

button {
  background-color: #00a000;
  color: white;
  border: none;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 1vh;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
  width: 5vw;
  height: 5.2vh;
}

#numero {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 6vh;
}

#numero > ul {
  list-style: none;
}

#numero > ul > li {
  display: inline;
}

#numero > ul > li > a {
  text-decoration: none;
  color: black;
}

.circle {
  border-radius: 50%;
  width: 1.95vw;
  height: 3.7vh;
  padding: 8px;

  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
}

.colourcircle {
  border-radius: 50%;
  width: 1.95vw;
  height: 3.7vh;
  padding: 8px;

  background: #2deec4;
  border: 2px solid #666;
  color: #666;
  text-align: center;
}

#pied {
  display: flex;
  flex-wrap: wrap;
  background-color: #37b08d;
  padding: 1vh;
  gap: 2vh;
}

#pied > p {
  display: flex;
  color: white;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  font: small;
  border-bottom: 0.1vh solid white;
  padding-bottom: 2vh;
}

footer section {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.list_pied {
  display: flex;
}

.list_pied > ul {
  color: white;
  list-style: none;
  font-size: smaller;
}

.list_head {
  font-weight: bolder;
  position: relative;
  z-index: 1;
  font-size: 1.5em;
  padding-bottom: 1vh;
  margin-bottom: 1.8vh;
}

.list_head:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 32%;
  border-bottom: 0.3vh solid white;
}

#email {
  height: 3vh;
}

#tel {
  height: 3vh;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  padding: 1vh 1vw;
  margin-bottom: 1vh;
  background-color: #2bd4af;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

@media (max-width: 1200px) {
  #cables > article {
    width: 30%;
  }

  #secmain {
    width: 100%;
  }

  main > header {
    width: 100%;
  }
}

@media (max-width: 850px) {
  #cables > article {
    width: 46%;
  }

  #secmain {
    width: 100%;
  }

  main > header {
    width: 100%;
  }
}

@media (max-width: 600px) {
  #menu {
    display: flex;
    width: 10vw;
  }

  nav > ul {
    display: none;
  }

  #cables > article {
    width: 46%;
  }

  #cables {
    width: 100%;
  }

  #pied section {
    display: flex;
    flex-direction: column;
    padding-left: 33%;
  }

  .list_pied {
    margin-bottom: 2.5vh;
  }

  main header {
    display: none;
  }

  #secmain {
    width: 100%;
  }

  #formulaire {
    width: 100%;
  }

  #formulaire form {
    display: flex;
    flex-direction: row;
  }
  .mesure {
    width: 10vw;
  }

  #formulaire form fieldset {
    gap: 0.75vw;
    justify-content: space-around;
  }

  legend {
    padding-left: 2.2vw;
  }

  button {
    width: 15vw;
    height: 7.2vh;
  }
}
